* {margin: 0; padding: 0;}

nav {
    width: 100vw;
    height: 80px;
    background-color: blue;

}

.banner {
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: red;
}

/*A função calc serve para subtrair/dividir/multiplicar/etc os 80px dos 100vh*/