p {
    color:blue; 
    text-transform: uppercase; 
    text-align: justify; 
    text-indent: 20px;
    line-height: 30px;
    direction:rtl;
    letter-spacing: 5px;
    word-spacing: 4px;
}
/*Color define a cor do texto
Text-transform pode ser uppercase e lowercase; para que apenas a primeira
letra fique maiúscula usar capitalize
Text-align justify serve para justificar o texto
Text-ident adiciona um recuo (tab) no texto
Line-height adiciona um espaçamento entre as linhas
Direction rtl (right to left) coloca o texto alinhado da direita
para a esquerda; ltr (left to right) da esquerda para a direita
Letter-spacing coloca espaço entre as letras
Word spacing coloca espaço entre as palavras
*/



h1 {
    text-align:left; 
    text-decoration:underline;
    text-shadow: 3px 30px 4px red;
}
h2 {
    text-align:right; 
    text-decoration: overline;
}
h3 {
    text-align:center; 
    text-decoration: line-through;
}
/*Text-align define a posição do texto*/
/*Text-decoration adiciona linhas em baixo, em cima e no centro do texto*/


